html,
body {
  font-size: 16px;
}
body {
  margin: 0;
  color: #000;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.title {
  margin: 0;
  font-size: 2.2rem;
  color: rgba(211, 77, 205, 0.5);
  font-weight: 700;
}
@media (max-width: 575px) {
  .title {
    font-size: 1.8rem;
  }
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1em;
  background-color: #d1ae5d;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: background 0.1s linear;
}
.btn + .btn {
  margin-left: 1rem;
}
.disabled .btn {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn:hover,
.btn:focus {
  outline: 0;
  background-color: #8f8e8e;
}
.btn--primary {
  background-color: #d34dcd;
}
.btn--primary:hover,
.btn--primary:focus {
  background-color: #d861d3;
}
.btn--secondary {
  background-color: #26c066;
}
.btn--secondary:hover,
.btn--secondary:focus {
  background-color: #2bd571;
}
.btn--green {
  background-color: #4cb514;
}
.btn--green:hover,
.btn--green:focus {
  background-color: #56cc17;
}
.post {
  width: 400px;
  height: 200px;
}
